.menu-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .toolbar {
    background: #2D8CF3;
    color: white;
  }

  .is-mobile .toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.app-name {
    font-size: 24px;
  }
  
  .is-mobile .sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  
  .menu-button {
    border-radius: 50%;
    position: relative;
    background-color: #2D8CF3;
    border: none;
    outline:none;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  .menu-button:hover {
    background: #66AEFD;
    color: white;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }

  mat-nav-list {
    padding: 0;
  }

  .list-item {
    position: relative;
    background-color: #2D8CF3;
    color: #194C84;
    font-weight: bold;
    border: none;
    outline:none;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
  }
  .list-item:focus {
    background-color: #2D8CF3;
  }
  .list-item:hover {
    background: #66AEFD;
    color: white;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }

.p1 {
  -moz-animation: cssAnimation 2s ease-in;
  -webkit-animation: cssAnimation 2s ease-in;
  -o-animation: cssAnimation 2s ease-in;
  animation: cssAnimation 2s ease-in;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.p2 {
  -moz-animation: cssAnimation 6s ease-in;
  -webkit-animation: cssAnimation 6s ease-in;
  -o-animation: cssAnimation 6s ease-in;
  animation: cssAnimation 6s ease-in;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}  

.p3, .p4, .p5, .p6 {
  -moz-animation: cssAnimation 10s ease-in;
  -webkit-animation: cssAnimation 10s ease-in;
  -o-animation: cssAnimation 10s ease-in;
  animation: cssAnimation 10s ease-in;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}  

@keyframes cssAnimation {
  0%   {opacity: 0;display:none;}
  50%  {opacity: 0;display:block;}
  100% {opacity: 1;display:block;}
}

  mat-sidenav-content {
    background-image: url("https://image.freepik.com/free-photo/beautiful-sky-with-mountains-distance_1232-718.jpg");
    background-size: cover;
    background-repeat:no-repeat;
  }

  #g1 {
    font-size: 22px;
  }

  .contact-button {
    background: #2D8CF3;
    border: none;
    outline:none;
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    cursor: pointer;
  }
  .contact-button:hover {
    background: #66AEFD;
    color: white;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }

  .price-button {
    border-radius: 50%;
    background: #2D8CF3;
    border: none;
    outline:none;
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    animation: glowing 1000ms infinite;
  }

  @keyframes glowing {
    0% { box-shadow: 0 0 -40px #927a03; }
    40% { box-shadow: 0 0 50px #927a03; }
    60% { box-shadow: 0 0 50px #927a03; }
    100% { box-shadow: 0 0 -40px #927a03; }
  }